.about {
  min-height: 100vh;
  background: black;
  color: white;
  padding: 6rem 8rem;
  
}

.main-heading {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 4rem;
  letter-spacing: 2px;
}

/* Layout */
.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  font-family: 'Poppins', sans-serif;
}

/* Video */
.about-video {
  width: 520px;
  height: 600px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 20px 60px rgba(255, 255, 255, 0.08);
}

/* RIGHT SIDE */
.about-text {
  max-width: 600px;
}

/* Big Creative Heading */
.big-heading {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 1.5rem;
}

.big-heading span {
  display: block;
  background: linear-gradient(90deg, #facc15, #f97316);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Description */
.about-description {
  font-size: 1.1rem;
  line-height: 1.8;
  opacity: 0.85;
  margin-bottom: 2.5rem;
}

/* Cards */
.about-cards {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
}

.info-card {
  background: rgba(255, 255, 255, 0.05);
  padding: 1.5rem;
  border-radius: 16px;
  backdrop-filter: blur(10px);
  transition: 0.3s ease;
  flex: 1;
  text-align: center;
}

.info-card:hover {
  background: rgba(250, 204, 21, 0.15);
  transform: translateY(-8px);
}

.info-card h3 {
  font-size: 1.4rem;
  color: orange;
  margin-bottom: 0.5rem;
}

/* Button */
.about-btn {
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  background: linear-gradient(90deg, #facc15, #f97316);
  color: black;
  font-weight: 600;
  transition: 0.3s ease;
}

.about-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(250, 204, 21, 0.4);
}

/* Responsive */
@media (max-width: 1024px) {
  .about {
    padding: 4rem 2rem;
  }

  .about-content {
    flex-direction: column;
    text-align: center;
  }

  .about-cards {
    flex-direction: column;
  }
}
